# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
Package.resolved

# OS
.DS_Store
Thumbs.db

# App data
*.ipa
*.dSYM.zip
*.dSYM
